version: '3'
services:
  web:
    build: .
    ports:
      - "80:5000"
    volumes:
      - .:/code
    environment:
      FLASK_ENV: development
      FLASK_APP: app.py
      FLASK_RUN_HOST: 0.0.0.0